

body {
    //background: url(../img/bg.jpg);
    background-color: #fefee3;
    background-size: contain;
    //color: white;
    font-family: Verdana;
}

h1 {
    
    font-family: 'Quicksand', sans-serif;
}